$colorP: #091722;
$colorS: #00afff;
$colorBlack: black;
$colorGrey: grey;
$colorWhite: white;
$colorFooter1: #142e3f;
$colorFooter2: #091722;

$smallPadd: 20px;
$padd: 50px;
$largePadd: 80px;

$inLine: inline-block;
$block: block;